* {
    padding: 0 auto;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}



.App {
    width: 1918px;
    height: 937px;
    
    background-color: #fcedda;
    position: relative;
    
    
}